html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: clamp(14px, 1.6vw, 16px); /* 画面幅に応じて可変 */
  margin: 1rem;
  background-color: rgb(241, 241, 226);
  color: #333;
}

h1 {
  font-style: bold;
  color: #46a15f;
}

.controls {
  margin-bottom: 1.5em;
  display: flex; 
  gap: 8px; 
  flex-wrap: wrap;
}

button {
  padding: 0.6em 1.2em;
  margin-right: 0.8em;
  border: none;
  border-radius: 6px;
  background-color: #46a15f;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

#dataDisplay {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  
}

#dataDisplay p {
  margin: 2em 0;
  font-size: 1em;
}

#chartContainer{
  border: 1px solid #ddd; 
  border-radius: 10px; 
  padding: 12px; 
  margin: 2em 0;
  font-size: 2em;
}

#realtimeChart {
  width: 100% !important;
  height: 55vh !important;
}

.row { 
  margin: 6px 0; 
}

.val { 
  font-variant-numeric: tabular-nums; 
}
